{
    "presets": [[
        "env",{
            "debug":true,
            "targets":{
                "browsers":["last 2 versions"]
            },
            "modules": false
        }
    ]],
    "plugins":["transform-runtime","transform-object-rest-spread"]
}